<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/me.jpg">
    </div>
    <div <div class="card">
      <div class="card-body">
        <h4 class="card-title">Email</h4>
        <h6 class="card-subtitle text-muted">yichengzhang023@gmail.com</h6>
      </div>
    {{>footer}}
</body>

</html>