<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{helpText}}</p>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Yicheng's Node.Js application</h5>
                <h6 class="card-subtitle mb-2 text-muted">Small weather app</h6>
                <p class="card-text">You can enter your address and get the weather forecast</p>
                <a href="https://github.com/yichengzhang023" class="card-link" target="_blank">Github link</a>
                <a href="https://www.linkedin.com/in/yicheng-zhang-13a0a5169/" class="card-link"
                    target="_blank">Linkedin link</a>
            </div>
        </div>
    </div>


    {{>footer}}
</body>

</html>