<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Notice: </strong> Please enter your location.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <p>Use this site to get your weather!</p>
        <form>
            <input placeholder="Please Type Your address">
            <button>Serach</button>
        </form>
        <p id="errorMessage"></p>
        <p id="weatherMessage"></p>
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>